:root {
  --primary-color: #2196f3;
  --text-color: #222;
}

* {
  padding: 0px;
  margin: 0px;
}

a,
a:link,
a:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s all ease;
}

a:hover {
  color: var(--primary-color);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

main {
  min-height: 100vh;
  background-color: #f5f5f5;
}

h1 {
  font-weight: 400;
  text-align: center;
}

nav {
  padding-left: 25px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 15px;
}

input[type='text'] {
  border: none;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px 15px;
  outline: 0px;
}

.logo {
  height: 40px;
}

.form_container {
  height: calc(100vh - 74px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form_input {
  width: 100%;
}

.form_input label {
  font-weight: 500;
  display: block;
  font-size: 12px;
  margin-bottom: 3px;
}

.form_footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 15px;
}

.form_footer input[type='submit'] {
  background-color: var(--primary-color);
  color: #fff;
}

.form_footer input[type='reset'] {
  background-color: #fff;
  color: #222;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  cursor: pointer;
}

.form_input input {
  width: fit-content;
}

.formulario {
  display: block;
  min-width: 300px;
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
}

.lista_categorias {
  margin-top: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
}

th {
  text-align: left;
}

.celda {
  min-width: 100px;
}
